@font-face {
    font-family: "ls-icons";
    src: url("fonts/ls-icons.woff2") format("woff2"),
        url("fonts/ls-icons.ttf") format("truetype"),
        url("fonts/ls-icons.woff") format("woff");
    font-weight: normal;
    font-style: normal;
    font-display: block;
}
@font-palette-values --ls-icon0 {
    font-family: "ls-icons";
    base-palette: 0
}
.ls-icon {
    /* Use !important to prevent extensions from overriding this font. */
    font-family: "ls-icons" !important;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.ls-icon0 {
    font-palette: --ls-icon0;
    color: currentColor;
}
:root {
    --li-eye-thin: "\f000";
    --li-8K-outline: "\f001";
    --li-SD-outline: "\f002";
    --li-table-3x3: "\f003";
    --li-table-3x3-thin: "\f004";
    --li-magic-wand-sharp-outline: "\f005";
    --li-eye-outline: "\f006";
    --li-people-thin: "\f007";
    --li-skull-outline: "\f008";
    --li-lifebuoy-outline: "\f009";
    --li-people-outline: "\f00a";
    --li-lifebuoy-thin: "\f00b";
    --li-8K-regular: "\f00c";
    --li-SD-regular: "\f00d";
    --li-8K-sharp: "\f00e";
    --li-table-3x3-sharp-outline: "\f00f";
    --li-SD-sharp: "\f010";
    --li-lifebuoy-sharp-outline: "\f011";
    --li-3D-outline: "\f012";
    --li-8K-duotone: "\f013";
    --li-8K-thin: "\f014";
    --li-SD-duotone: "\f015";
    --li-Ad-sharp-outline: "\f016";
    --li-8K-sharp-outline: "\f017";
    --li-SD-thin: "\f018";
    --li-SD-sharp-outline: "\f019";
    --li-2D-outline: "\f01a";
    --li-table-3x3-outline-regular: "\f01b";
    --li-Ad-outline: "\f01c";
    --li-check-small-regular: "\f01d";
    --li-table-3x3-duotone: "\f01e";
    --li-ram-duotone: "\f01f";
    --li-table-3x3-sharp: "\f020";
    --li-3D-regular: "\f021";
    --li-2D-regular: "\f022";
    --li-AR-outline: "\f023";
    --li-waves-thin: "\f024";
    --li-thumbs-down-thin: "\f025";
    --li-VR-outline: "\f026";
    --li-3D-sharp: "\f027";
    --li-shopping-bag-regular: "\f028";
    --li-Ad-regular: "\f029";
    --li-thumbs-up-thin: "\f02a";
    --li-2D-sharp: "\f02b";
    --li-3D-duotone: "\f02c";
    --li-3D-thin: "\f02d";
    --li-3D-sharp-outline: "\f02e";
    --li-loading-circle-outline-regular: "\f02f";
    --li-2D-duotone: "\f030";
    --li-Ad-sharp: "\f031";
    --li-2D-thin: "\f032";
    --li-calculator-regular: "\f033";
    --li-2D-sharp-outline: "\f034";
    --li-complex-wave-regular: "\f035";
    --li-4D-outline: "\f036";
    --li-question-regular: "\f037";
    --li-Ad-duotone: "\f038";
    --li-Ad-thin: "\f039";
    --li-HD-outline: "\f03a";
    --li-box-alt-regular: "\f03b";
    --li-ram-regular: "\f03c";
    --li-tree-duotone: "\f03d";
    --li-waves-duotone: "\f03e";
    --li-tree-regular: "\f03f";
    --li-check-regular: "\f040";
    --li-waves-outline: "\f041";
    --li-table-2x2: "\f042";
    --li-table-2x2-thin: "\f043";
    --li-thumbs-down-duotone: "\f044";
    --li-thumbs-up-duotone: "\f045";
    --li-shopping-bag-sharp: "\f046";
    --li-complex-wave-duotone: "\f047";
    --li-box-alt-duotone: "\f048";
    --li-tree-outline: "\f049";
    --li-complex-wave-regular-1: "\f04a";
    --li-thumbs-up-regular: "\f04b";
    --li-box-regular: "\f04c";
    --li-thumbs-down-regular: "\f04d";
    --li-note-duotone: "\f04e";
    --li-AR-regular: "\f04f";
    --li-thumbs-up-outline: "\f050";
    --li-thumbs-down-outline: "\f051";
    --li-box-duotone: "\f052";
    --li-calculator-sharp-outline: "\f053";
    --li-VR-regular: "\f054";
    --li-thumbs-down-sharp-outline: "\f055";
    --li-lifebuoy-duotone: "\f056";
    --li-magic-wand-duotone: "\f057";
    --li-thumbs-up-sharp-outline: "\f058";
    --li-AR-sharp: "\f059";
    --li-loading-circle-sharp: "\f05a";
    --li-tree-thin: "\f05b";
    --li-magic-wand-regular: "\f05c";
    --li-AR-duotone: "\f05d";
    --li-AR-thin: "\f05e";
    --li-AR-sharp-outline: "\f05f";
    --li-VR-sharp: "\f060";
    --li-lifebuoy-regular: "\f061";
    --li-people-duotone: "\f062";
    --li-loading-circle-duotone: "\f063";
    --li-tree-sharp-outline: "\f064";
    --li-4K-outline-1: "\f065";
    --li-4K-outline: "\f066";
    --li-table-2x2-outline-regular: "\f067";
    --li-VR-duotone: "\f068";
    --li-people-sharp: "\f069";
    --li-VR-thin: "\f06a";
    --li-VR-sharp-outline: "\f06b";
    --li-people-regular: "\f06c";
    --li-4D-regular: "\f06d";
    --li-wine-glass-alt-thin: "\f06e";
    --li-table-2x2-sharp-outline: "\f06f";
    --li-question-sharp: "\f070";
    --li-HD-regular: "\f071";
    --li-magnyfing-glass-regular: "\f072";
    --li-lifebuoy-sharp: "\f073";
    --li-wine-glass-alt-sharp-outline: "\f074";
    --li-wine-glass-thin: "\f075";
    --li-skull-thin: "\f076";
    --li-eye-duotone: "\f077";
    --li-E-outline: "\f078";
    --li-calculator-outline: "\f079";
    --li-4D-sharp: "\f07a";
    --li-wine-glass-sharp-outline: "\f07b";
    --li-4D-duotone: "\f07c";
    --li-HD-sharp: "\f07d";
    --li-4D-thin: "\f07e";
    --li-skull-sharp-outline: "\f07f";
    --li-styledefault-sharp-outline: "\f080";
    --li-HD-duotone: "\f081";
    --li-cursor-duotone: "\f082";
    --li-HD-thin: "\f083";
    --li-eye-regular: "\f084";
    --li-location-dot-sharp-outline: "\f085";
    --li-HD-sharp-outline: "\f086";
    --li-funnel-duotone: "\f087";
    --li-x-regular: "\f088";
    --li-calculator-duotone: "\f089";
    --li-x-small-regular: "\f08a";
    --li-sine-wave-regular: "\f08b";
    --li-box-alt-outline: "\f08c";
    --li-wine-glass-alt-outline: "\f08d";
    --li-axis-arrows-outline: "\f08e";
    --li-paintbrush-duotone: "\f08f";
    --li-axis-arrows-duotone: "\f090";
    --li-magic-wand-sharp: "\f091";
    --li-tree-sharp: "\f092";
    --li-volume-high-outline: "\f093";
    --li-volume-high-duotone: "\f094";
    --li-magnyfing-glass-sharp: "\f095";
    --li-loading-circle: "\f096";
    --li-camera-duotone: "\f097";
    --li-volume-high-thin: "\f098";
    --li-loading-circle-thin: "\f099";
    --li-question-duotone: "\f09a";
    --li-skull-duotone: "\f09b";
    --li-pause-duotone: "\f09c";
    --li-volume-high-regular: "\f09d";
    --li-skull-regular: "\f09e";
    --li-table-2x2-sharp: "\f09f";
    --li-complex-wave-duotone-1: "\f0a0";
    --li-box-alt-thin: "\f0a1";
    --li-wine-glass-outline: "\f0a2";
    --li-location-dot-thin: "\f0a3";
    --li-lightning-duotone: "\f0a4";
    --li-complex-wave-outline-1: "\f0a5";
    --li-layers-duotone: "\f0a6";
    --li-switches-regular: "\f0a7";
    --li-briefcase-duotone: "\f0a8";
    --li-camera-regular: "\f0a9";
    --li-table-2x2-duotone: "\f0aa";
    --li-layers-regular: "\f0ab";
    --li-headphones-thin: "\f0ac";
    --li-box-outline: "\f0ad";
    --li-paintbrush-regular: "\f0ae";
    --li-notepad-regular: "\f0af";
    --li-triangle-wave-regular: "\f0b0";
    --li-complex-wave-sharp: "\f0b1";
    --li-briefcase-regular: "\f0b2";
    --li-axis-arrows-thin: "\f0b3";
    --li-briefcase-outline: "\f0b4";
    --li-saw-wave-regular: "\f0b5";
    --li-picture-frame-outline: "\f0b6";
    --li-mountains-duotone: "\f0b7";
    --li-briefcase-thin: "\f0b8";
    --li-pointer-duotone: "\f0b9";
    --li-plus-regular: "\f0ba";
    --li-box-thin: "\f0bb";
    --li-picture-frame-thin: "\f0bc";
    --li-complex-wave-thin-1: "\f0bd";
    --li-sd-card-thin: "\f0be";
    --li-axis-arrows-sharp-outline: "\f0bf";
    --li-envelope-duotone: "\f0c0";
    --li-egg-outline: "\f0c1";
    --li-egg-thin: "\f0c2";
    --li-info-regular: "\f0c3";
    --li-note-outline: "\f0c4";
    --li-eye-sharp: "\f0c5";
    --li-ticket-duotone: "\f0c6";
    --li-wine-glass-alt-regular-1: "\f0c7";
    --li-note-thin: "\f0c8";
    --li-paper-lines-regular: "\f0c9";
    --li-sd-card-outline: "\f0ca";
    --li-axis-regular: "\f0cb";
    --li-picture-frame-duotone: "\f0cc";
    --li-triangle-wave-duotone: "\f0cd";
    --li-complex-wave-thin: "\f0ce";
    --li-picture-frame-regular: "\f0cf";
    --li-egg-regular: "\f0d0";
    --li-shopping-bag-alt-regular: "\f0d1";
    --li-square-wave-regular: "\f0d2";
    --li-sine-wave-duotone: "\f0d3";
    --li-person-outline: "\f0d4";
    --li-sd-card-duotone: "\f0d5";
    --li-egg-sharp-outline: "\f0d6";
    --li-cursor-thin: "\f0d7";
    --li-ticket-regular: "\f0d8";
    --li-square-wave-duotone: "\f0d9";
    --li-mountains-outline: "\f0da";
    --li-play-duotone: "\f0db";
    --li-location-dot-outline: "\f0dc";
    --li-location-dot-duotone: "\f0dd";
    --li-exclamation-regular: "\f0de";
    --li-person-thin: "\f0df";
    --li-wine-glass-alt-duotone: "\f0e0";
    --li-note-sharp-outline: "\f0e1";
    --li-headphones-outline: "\f0e2";
    --li-paintbrush-thin: "\f0e3";
    --li-headphones-duotone: "\f0e4";
    --li-camera-thin: "\f0e5";
    --li-info-duotone: "\f0e6";
    --li-skull-sharp: "\f0e7";
    --li-question-outline: "\f0e8";
    --li-info-outline: "\f0e9";
    --li-axis-arrows-regular: "\f0ea";
    --li-monitor-thin: "\f0eb";
    --li-monitor-outline: "\f0ec";
    --li-loading-circle-thin-1: "\f0ed";
    --li-headphones-regular: "\f0ee";
    --li-monitor-duotone: "\f0ef";
    --li-magnyfing-glass-outline: "\f0f0";
    --li-complex-wave-outline: "\f0f1";
    --li-notepad-thin: "\f0f2";
    --li-loading-circle-sharp-outline: "\f0f3";
    --li-envelope-regular: "\f0f4";
    --li-4K-regular-1: "\f0f5";
    --li-4K-regular: "\f0f6";
    --li-volume-high-sharp-outline: "\f0f7";
    --li-mountains-thin: "\f0f8";
    --li-layers-thin-1: "\f0f9";
    --li-info-thin: "\f0fa";
    --li-wine-glass-alt-thin-1: "\f0fb";
    --li-location-dot-regular: "\f0fc";
    --li-notepad-outline: "\f0fd";
    --li-volume-x-outline: "\f0fe";
    --li-saw-wave-duotone: "\f0ff";
    --li-lightning-regular: "\f100";
    --li-sd-card-sharp-outline: "\f101";
    --li-wine-glass-alt-regular: "\f102";
    --li-magnyfing-glass-sharp-outline: "\f103";
    --li-waves-sharp-outline: "\f104";
    --li-volume-x-thin: "\f105";
    --li-paintbrush-sharp: "\f106";
    --li-sine-wave-sharp: "\f107";
    --li-notepad-duotone: "\f108";
    --li-paintbrush-outline: "\f109";
    --li-brand-lstv-duotone: "\f10a";
    --li-wine-glass-alt-outline-1: "\f10b";
    --li-info-sharp-outline: "\f10c";
    --li-shopping-bag-alt-duotone: "\f10d";
    --li-loading-circle-duotone-1: "\f10e";
    --li-note-regular: "\f10f";
    --li-mountains-regular: "\f110";
    --li-thumbs-up-sharp: "\f111";
    --li-cup-thin: "\f112";
    --li-wine-glass-alt-duotone-1: "\f113";
    --li-thumbs-down-sharp: "\f114";
    --li-layers-outline: "\f115";
    --li-layers-duotone-1: "\f116";
    --li-layers-outline-1: "\f117";
    --li-cursor-outline: "\f118";
    --li-volume-low-thin: "\f119";
    --li-person-sharp-outline: "\f11a";
    --li-camera-sharp: "\f11b";
    --li-wine-glass-duotone: "\f11c";
    --li-camera-video-duotone: "\f11d";
    --li-volume-low-outline: "\f11e";
    --li-volume-low-duotone: "\f11f";
    --li-switches-outline: "\f120";
    --li-volume-high-sharp: "\f121";
    --li-complex-wave-sharp-outline-1: "\f122";
    --li-funnel-thin: "\f123";
    --li-volume-x-regular: "\f124";
    --li-funnel-outline: "\f125";
    --li-location-dot-sharp: "\f126";
    --li-switches-duotone: "\f127";
    --li-exclamation-duotone: "\f128";
    --li-ticket-thin: "\f129";
    --li-camera-video-thin: "\f12a";
    --li-volume-x-duotone: "\f12b";
    --li-volume-low-regular: "\f12c";
    --li-loading-circle-1: "\f12d";
    --li-ram-sharp: "\f12e";
    --li-egg-sharp: "\f12f";
    --li-4K-duotone-1: "\f130";
    --li-4K-duotone: "\f131";
    --li-magnyfing-glass-thin: "\f132";
    --li-shopping-bag-alt-outline: "\f133";
    --li-brand-lstv-outline-regular: "\f134";
    --li-switches-thin: "\f135";
    --li-axis-arrows-sharp: "\f136";
    --li-wine-glass-regular: "\f137";
    --li-paintbrush-sharp-outline: "\f138";
    --li-shopping-bag-alt-thin: "\f139";
    --li-headphones-sharp-outline: "\f13a";
    --li-cup-duotone: "\f13b";
    --li-4K-thin-1: "\f13c";
    --li-4K-thin: "\f13d";
    --li-exclamation-outline: "\f13e";
    --li-4K-sharp-1: "\f13f";
    --li-4K-sharp: "\f140";
    --li-4K-sharp-outline-1: "\f141";
    --li-4K-sharp-outline: "\f142";
    --li-egg-duotone: "\f143";
    --li-box-alt-sharp: "\f144";
    --li-question-thin: "\f145";
    --li-camera-video-regular: "\f146";
    --li-pointer-regular: "\f147";
    --li-monitor-regular: "\f148";
    --li-camera-video-outline: "\f149";
    --li-lightning-outline: "\f14a";
    --li-cursor-regular: "\f14b";
    --li-camera-outline: "\f14c";
    --li-question-sharp-outline: "\f14d";
    --li-cup-regular: "\f14e";
    --li-switches-sharp-outline: "\f14f";
    --li-phone-regular: "\f150";
    --li-wine-glass-alt-sharp-1: "\f151";
    --li-lightning-thin: "\f152";
    --li-notepad-sharp-outline: "\f153";
    --li-box-alt-sharp-outline: "\f154";
    --li-check-duotone: "\f155";
    --li-funnel-regular: "\f156";
    --li-envelope-sharp: "\f157";
    --li-plus-sharp: "\f158";
    --li-check-small-sharp: "\f159";
    --li-cup-outline: "\f15a";
    --li-cup-sharp-outline: "\f15b";
    --li-pointer-thin: "\f15c";
    --li-check-small-duotone: "\f15d";
    --li-note-sharp: "\f15e";
    --li-paper-lines-outline: "\f15f";
    --li-paper-lines-duotone: "\f160";
    --li-envelope-outline: "\f161";
    --li-dash-regular: "\f162";
    --li-headphones-sharp: "\f163";
    --li-paper-lines-thin: "\f164";
    --li-volume-thin: "\f165";
    --li-pointer-outline: "\f166";
    --li-switch-on-regular: "\f167";
    --li-E-regular: "\f168";
    --li-switch-off-regular: "\f169";
    --li-play-outline: "\f16a";
    --li-plus-duotone: "\f16b";
    --li-triangle-wave-sharp: "\f16c";
    --li-person-duotone: "\f16d";
    --li-envelope-thin: "\f16e";
    --li-sd-card-regular: "\f16f";
    --li-volume-outline: "\f170";
    --li-layers-regular-1: "\f171";
    --li-x-small-duotone: "\f172";
    --li-x-duotone: "\f173";
    --li-briefcase-sharp-outline: "\f174";
    --li-wine-glass-alt-sharp-outline-1: "\f175";
    --li-play-thin: "\f176";
    --li-person-regular: "\f177";
    --li-sine-wave-sharp-outline: "\f178";
    --li-paper-lines-sharp-outline: "\f179";
    --li-camera-sharp-outline: "\f17a";
    --li-volume-regular: "\f17b";
    --li-volume-duotone: "\f17c";
    --li-x-small-sharp: "\f17d";
    --li-x-sharp: "\f17e";
    --li-ticket-sharp-outline: "\f17f";
    --li-check-sharp: "\f180";
    --li-cup-sharp: "\f181";
    --li-box-sharp-outline: "\f182";
    --li-axis-duotone: "\f183";
    --li-box-sharp: "\f184";
    --li-triangle-wave-outline: "\f185";
    --li-play-regular: "\f186";
    --li-phone-thin: "\f187";
    --li-sine-wave-outline: "\f188";
    --li-ticket-sharp: "\f189";
    --li-volume-x-sharp-outline: "\f18a";
    --li-phone-duotone: "\f18b";
    --li-E-duotone: "\f18c";
    --li-switch-on-outline: "\f18d";
    --li-mountains-sharp-outline: "\f18e";
    --li-envelope-sharp-outline: "\f18f";
    --li-square-wave-outline: "\f190";
    --li-calculator-sharp: "\f191";
    --li-triangle-wave-thin: "\f192";
    --li-sine-wave-thin: "\f193";
    --li-volume-low-sharp-outline: "\f194";
    --li-saw-wave-sharp: "\f195";
    --li-square-wave-thin: "\f196";
    --li-E-thin: "\f197";
    --li-phone-outline: "\f198";
    --li-check-small-outline: "\f199";
    --li-switch-on-thin: "\f19a";
    --li-loading-circle-sharp-outline-1: "\f19b";
    --li-wine-glass-alt-sharp: "\f19c";
    --li-ticket-outline: "\f19d";
    --li-switch-on-duotone: "\f19e";
    --li-shopping-bag-outline: "\f19f";
    --li-shopping-bag-duotone: "\f1a0";
    --li-saw-wave-outline: "\f1a1";
    --li-E-sharp-outline: "\f1a2";
    --li-check-outline: "\f1a3";
    --li-magnyfing-glass-duotone: "\f1a4";
    --li-phone-sharp-outline: "\f1a5";
    --li-picture-frame-sharp-outline: "\f1a6";
    --li-wine-glass-sharp: "\f1a7";
    --li-switch-on-sharp-outline: "\f1a8";
    --li-plus-outline: "\f1a9";
    --li-picture-frame-sharp: "\f1aa";
    --li-monitor-sharp-outline: "\f1ab";
    --li-saw-wave-thin: "\f1ac";
    --li-layers-sharp-outline: "\f1ad";
    --li-briefcase-sharp: "\f1ae";
    --li-stop-duotone: "\f1af";
    --li-complex-wave-sharp-outline: "\f1b0";
    --li-pause-outline: "\f1b1";
    --li-dash-duotone: "\f1b2";
    --li-shopping-bag-alt-sharp: "\f1b3";
    --li-check-small-sharp-outline: "\f1b4";
    --li-axis-sharp: "\f1b5";
    --li-x-small-outline: "\f1b6";
    --li-x-outline: "\f1b7";
    --li-shopping-bag-thin: "\f1b8";
    --li-monitor-sharp: "\f1b9";
    --li-layers-thin: "\f1ba";
    --li-cursor-sharp-outline: "\f1bb";
    --li-check-small-thin: "\f1bc";
    --li-sd-card-sharp: "\f1bd";
    --li-E-sharp: "\f1be";
    --li-complex-wave-sharp-1: "\f1bf";
    --li-notepad-sharp: "\f1c0";
    --li-shopping-bag-sharp-outline: "\f1c1";
    --li-check-thin: "\f1c2";
    --li-axis-outline: "\f1c3";
    --li-switch-off-outline: "\f1c4";
    --li-switch-off-duotone: "\f1c5";
    --li-funnel-sharp-outline: "\f1c6";
    --li-volume-x-sharp: "\f1c7";
    --li-pause-thin: "\f1c8";
    --li-axis-thin: "\f1c9";
    --li-volume-low-sharp: "\f1ca";
    --li-switch-off-thin: "\f1cb";
    --li-camera-video-sharp-outline: "\f1cc";
    --li-plus-thin: "\f1cd";
    --li-shopping-bag-alt-sharp-outline: "\f1ce";
    --li-pause-regular: "\f1cf";
    --li-check-sharp-outline: "\f1d0";
    --li-volume-sharp-outline: "\f1d1";
    --li-pause-sharp-outline: "\f1d2";
    --li-x-thin: "\f1d3";
    --li-x-small-thin: "\f1d4";
    --li-square-wave-sharp-outline: "\f1d5";
    --li-layers-sharp-outline-1: "\f1d6";
    --li-layers-sharp: "\f1d7";
    --li-exclamation-thin: "\f1d8";
    --li-switches-sharp: "\f1d9";
    --li-mountains-sharp: "\f1da";
    --li-switch-off-sharp-outline: "\f1db";
    --li-triangle-wave-sharp-outline: "\f1dc";
    --li-person-sharp: "\f1dd";
    --li-exclamation-sharp-outline: "\f1de";
    --li-pause-sharp: "\f1df";
    --li-saw-wave-sharp-outline: "\f1e0";
    --li-axis-sharp-outline: "\f1e1";
    --li-camera-video-sharp: "\f1e2";
    --li-info-sharp: "\f1e3";
    --li-plus-sharp-outline: "\f1e4";
    --li-lightning-sharp-outline: "\f1e5";
    --li-square-wave-sharp: "\f1e6";
    --li-paper-lines-sharp: "\f1e7";
    --li-exclamation-sharp: "\f1e8";
    --li-stop-outline: "\f1e9";
    --li-pointer-sharp-outline: "\f1ea";
    --li-phone-sharp: "\f1eb";
    --li-x-small-sharp-outline: "\f1ec";
    --li-x-sharp-outline: "\f1ed";
    --li-dash-outline: "\f1ee";
    --li-layers-sharp-1: "\f1ef";
    --li-people-sharp-outline: "\f1f0";
    --li-stop-thin: "\f1f1";
    --li-calculator-thin: "\f1f2";
    --li-play-sharp-outline: "\f1f3";
    --li-eye-sharp-outline: "\f1f4";
    --li-volume-sharp: "\f1f5";
    --li-ram-outline: "\f1f6";
    --li-cursor-sharp: "\f1f7";
    --li-ram-thin: "\f1f8";
    --li-stop-regular: "\f1f9";
    --li-table-4x4: "\f1fa";
    --li-dash-thin: "\f1fb";
    --li-table-4x4-thin: "\f1fc";
    --li-stop-sharp-outline: "\f1fd";
    --li-table-4x4-sharp-outline: "\f1fe";
    --li-funnel-sharp: "\f1ff";
    --li-magic-wand-outline: "\f200";
    --li-dash-sharp: "\f201";
    --li-table-4x4-duotone: "\f202";
    --li-switch-on-sharp: "\f203";
    --li-table-4x4-outline-regular: "\f204";
    --li-switch-off-sharp: "\f205";
    --li-brand-discord-duotone: "\f206";
    --li-stop-sharp: "\f207";
    --li-magic-wand-thin: "\f208";
    --li-lightning-sharp: "\f209";
    --li-ram-sharp-outline: "\f20a";
    --li-pointer-sharp: "\f20b";
    --li-table-4x4-sharp: "\f20c";
    --li-play-sharp: "\f20d";
    --li-brand-discord-outline-regular: "\f20e";
    --li-dash-sharp-outline: "\f20f";
}