@font-face {
    font-family: "ls-icons";
    src: url("fonts/ls-icons.woff2") format("woff2"),
        url("fonts/ls-icons.ttf") format("truetype"),
        url("fonts/ls-icons.woff") format("woff");
    font-weight: normal;
    font-style: normal;
    font-display: block;
}
@font-palette-values --ls-icon0 {
    font-family: "ls-icons";
    base-palette: 0
}
.ls-icon, [class^="li-"], [class*=" li-"] {
    /* Use !important to prevent extensions from overriding this font. */
    font-family: "ls-icons" !important;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    display: inline-block;
}

/* .ls-status-icon {
    -webkit-mask: radial-gradient(circle at 100% 0%, transparent 50%, white 50%);
    mask: radial-gradient(circle at 100% 0%, transparent 50%, white 50%);
} */

.li-crossed {
    color: currentColor;
}

.ls-icon0 {
    font-palette: --ls-icon0;
    color: currentColor;
}
.li-tag-ad-sharp-fill:before {
    content: "\f000";
}
.li-tag-ad-sharp:before {
    content: "\f001";
}
.li-tag-ad-regular:before {
    content: "\f002";
}
.li-tag-ad-fill:before {
    content: "\f003";
}
.li-tag-ad-duotone:before {
    content: "\f004";
}
.li-tag-ad-bold:before {
    content: "\f005";
}
.li-tag-8-k-sharp-fill:before {
    content: "\f006";
}
.li-tag-8-k-sharp:before {
    content: "\f007";
}
.li-tag-8-k-regular:before {
    content: "\f008";
}
.li-tag-8-k-fill:before {
    content: "\f009";
}
.li-tag-8-k-duotone:before {
    content: "\f00a";
}
.li-tag-8-k-bold:before {
    content: "\f00b";
}
.li-tag-4-k-sharp-fill:before {
    content: "\f00c";
}
.li-tag-4-k-sharp:before {
    content: "\f00d";
}
.li-tag-4-k-regular:before {
    content: "\f00e";
}
.li-tag-4-k-fill:before {
    content: "\f00f";
}
.li-tag-4-k-duotone:before {
    content: "\f010";
}
.li-tag-4-k-bold:before {
    content: "\f011";
}
.li-tag-4-d-sharp-fill:before {
    content: "\f012";
}
.li-tag-4-d-sharp:before {
    content: "\f013";
}
.li-tag-4-d-regular:before {
    content: "\f014";
}
.li-tag-4-d-fill:before {
    content: "\f015";
}
.li-tag-4-d-duotone:before {
    content: "\f016";
}
.li-tag-4-d-bold:before {
    content: "\f017";
}
.li-tag-3-d-sharp-fill:before {
    content: "\f018";
}
.li-tag-3-d-sharp:before {
    content: "\f019";
}
.li-tag-3-d-regular:before {
    content: "\f01a";
}
.li-tag-3-d-fill:before {
    content: "\f01b";
}
.li-tag-3-d-duotone:before {
    content: "\f01c";
}
.li-tag-3-d-bold:before {
    content: "\f01d";
}
.li-tag-2-d-sharp-fill:before {
    content: "\f01e";
}
.li-tag-2-d-sharp:before {
    content: "\f01f";
}
.li-tag-2-d-regular:before {
    content: "\f020";
}
.li-tag-2-d-fill:before {
    content: "\f021";
}
.li-tag-2-d-duotone:before {
    content: "\f022";
}
.li-tag-2-d-bold:before {
    content: "\f023";
}
.li-table-4x4-sharp-fill:before {
    content: "\f024";
}
.li-table-4x4-sharp:before {
    content: "\f025";
}
.li-table-4x4-regular:before {
    content: "\f026";
}
.li-table-4x4-fill:before {
    content: "\f027";
}
.li-table-4x4-duotone:before {
    content: "\f028";
}
.li-table-4x4-bold:before {
    content: "\f029";
}
.li-table-3x3-sharp-fill:before {
    content: "\f02a";
}
.li-table-3x3-sharp:before {
    content: "\f02b";
}
.li-table-3x3-regular:before {
    content: "\f02c";
}
.li-table-3x3-fill:before {
    content: "\f02d";
}
.li-table-3x3-duotone:before {
    content: "\f02e";
}
.li-table-3x3-bold:before {
    content: "\f02f";
}
.li-table-2x3-sharp-fill:before {
    content: "\f030";
}
.li-table-2x3-sharp:before {
    content: "\f031";
}
.li-table-2x3-regular:before {
    content: "\f032";
}
.li-table-2x3-fill:before {
    content: "\f033";
}
.li-table-2x3-duotone:before {
    content: "\f034";
}
.li-table-2x3-bold:before {
    content: "\f035";
}
.li-table-2x2-sharp-fill:before {
    content: "\f036";
}
.li-table-2x2-sharp:before {
    content: "\f037";
}
.li-table-2x2-regular:before {
    content: "\f038";
}
.li-table-2x2-fill:before {
    content: "\f039";
}
.li-table-2x2-duotone:before {
    content: "\f03a";
}
.li-table-2x2-bold:before {
    content: "\f03b";
}
.li-switch-on-sharp-fill:before {
    content: "\f03c";
}
.li-switch-on-sharp:before {
    content: "\f03d";
}
.li-switch-on-regular:before {
    content: "\f03e";
}
.li-switch-on-fill:before {
    content: "\f03f";
}
.li-switch-on-duotone:before {
    content: "\f040";
}
.li-switch-on-bold:before {
    content: "\f041";
}
.li-switch-off-sharp-fill:before {
    content: "\f042";
}
.li-switch-off-sharp:before {
    content: "\f043";
}
.li-switch-off-regular:before {
    content: "\f044";
}
.li-switch-off-fill:before {
    content: "\f045";
}
.li-switch-off-duotone:before {
    content: "\f046";
}
.li-switch-off-bold:before {
    content: "\f047";
}
.li-switches-sharp-fill:before {
    content: "\f048";
}
.li-switches-sharp:before {
    content: "\f049";
}
.li-switches-regular:before {
    content: "\f04a";
}
.li-switches-fill:before {
    content: "\f04b";
}
.li-switches-duotone:before {
    content: "\f04c";
}
.li-switches-bold:before {
    content: "\f04d";
}
.li-stop-sharp-fill:before {
    content: "\f04e";
}
.li-stop-sharp:before {
    content: "\f04f";
}
.li-stop-regular:before {
    content: "\f050";
}
.li-stop-fill:before {
    content: "\f051";
}
.li-stop-duotone:before {
    content: "\f052";
}
.li-stop-bold:before {
    content: "\f053";
}
.li-star-sharp-fill:before {
    content: "\f054";
}
.li-star-sharp:before {
    content: "\f055";
}
.li-star-regular:before {
    content: "\f056";
}
.li-star-fill:before {
    content: "\f057";
}
.li-star-duotone:before {
    content: "\f058";
}
.li-star-bold:before {
    content: "\f059";
}
.li-squiggle-sharp-fill:before {
    content: "\f05a";
}
.li-squiggle-sharp:before {
    content: "\f05b";
}
.li-squiggle-regular:before {
    content: "\f05c";
}
.li-squiggle-fill:before {
    content: "\f05d";
}
.li-squiggle-duotone:before {
    content: "\f05e";
}
.li-squiggle-bold:before {
    content: "\f05f";
}
.li-square-wave-sharp-fill:before {
    content: "\f060";
}
.li-square-wave-sharp:before {
    content: "\f061";
}
.li-square-wave-regular:before {
    content: "\f062";
}
.li-square-wave-fill:before {
    content: "\f063";
}
.li-square-wave-duotone:before {
    content: "\f064";
}
.li-square-wave-bold:before {
    content: "\f065";
}
.li-soundwave-sharp-fill:before {
    content: "\f066";
}
.li-soundwave-sharp:before {
    content: "\f067";
}
.li-soundwave-regular:before {
    content: "\f068";
}
.li-soundwave-fill:before {
    content: "\f069";
}
.li-soundwave-duotone:before {
    content: "\f06a";
}
.li-soundwave-bold:before {
    content: "\f06b";
}
.li-skull-sharp-fill:before {
    content: "\f06c";
}
.li-skull-sharp:before {
    content: "\f06d";
}
.li-skull-regular:before {
    content: "\f06e";
}
.li-skull-fill:before {
    content: "\f06f";
}
.li-skull-duotone:before {
    content: "\f070";
}
.li-skull-bold:before {
    content: "\f071";
}
.li-sine-wave-sharp-fill:before {
    content: "\f072";
}
.li-sine-wave-sharp:before {
    content: "\f073";
}
.li-sine-wave-regular:before {
    content: "\f074";
}
.li-sine-wave-fill:before {
    content: "\f075";
}
.li-sine-wave-duotone:before {
    content: "\f076";
}
.li-sine-wave-bold:before {
    content: "\f077";
}
.li-shopping-bag-sharp-fill:before {
    content: "\f078";
}
.li-shopping-bag-sharp:before {
    content: "\f079";
}
.li-shopping-bag-regular:before {
    content: "\f07a";
}
.li-shopping-bag-fill:before {
    content: "\f07b";
}
.li-shopping-bag-duotone:before {
    content: "\f07c";
}
.li-shopping-bag-bold:before {
    content: "\f07d";
}
.li-shopping-bag-alt-sharp-fill:before {
    content: "\f07e";
}
.li-shopping-bag-alt-sharp:before {
    content: "\f07f";
}
.li-shopping-bag-alt-regular:before {
    content: "\f080";
}
.li-shopping-bag-alt-fill:before {
    content: "\f081";
}
.li-shopping-bag-alt-duotone:before {
    content: "\f082";
}
.li-shopping-bag-alt-bold:before {
    content: "\f083";
}
.li-sd-card-sharp-fill:before {
    content: "\f084";
}
.li-sd-card-sharp:before {
    content: "\f085";
}
.li-sd-card-regular:before {
    content: "\f086";
}
.li-sd-card-fill:before {
    content: "\f087";
}
.li-sd-card-duotone:before {
    content: "\f088";
}
.li-sd-card-bold:before {
    content: "\f089";
}
.li-saw-wave-sharp-fill:before {
    content: "\f08a";
}
.li-saw-wave-sharp:before {
    content: "\f08b";
}
.li-saw-wave-regular:before {
    content: "\f08c";
}
.li-saw-wave-fill:before {
    content: "\f08d";
}
.li-saw-wave-duotone:before {
    content: "\f08e";
}
.li-saw-wave-bold:before {
    content: "\f08f";
}
.li-ram-sharp-fill:before {
    content: "\f090";
}
.li-ram-sharp:before {
    content: "\f091";
}
.li-ram-regular:before {
    content: "\f092";
}
.li-ram-fill:before {
    content: "\f093";
}
.li-ram-duotone:before {
    content: "\f094";
}
.li-ram-bold:before {
    content: "\f095";
}
.li-question-sharp-fill:before {
    content: "\f096";
}
.li-question-sharp:before {
    content: "\f097";
}
.li-question-regular:before {
    content: "\f098";
}
.li-question-fill:before {
    content: "\f099";
}
.li-question-duotone:before {
    content: "\f09a";
}
.li-question-circle-sharp-fill:before {
    content: "\f09b";
}
.li-question-circle-sharp:before {
    content: "\f09c";
}
.li-question-circle-regular:before {
    content: "\f09d";
}
.li-question-circle-fill:before {
    content: "\f09e";
}
.li-question-circle-duotone:before {
    content: "\f09f";
}
.li-question-circle-bold:before {
    content: "\f0a0";
}
.li-question-bold:before {
    content: "\f0a1";
}
.li-pointer-sharp-fill:before {
    content: "\f0a2";
}
.li-pointer-sharp:before {
    content: "\f0a3";
}
.li-pointer-regular:before {
    content: "\f0a4";
}
.li-pointer-fill:before {
    content: "\f0a5";
}
.li-pointer-duotone:before {
    content: "\f0a6";
}
.li-pointer-bold:before {
    content: "\f0a7";
}
.li-plus-sharp-fill:before {
    content: "\f0a8";
}
.li-plus-sharp:before {
    content: "\f0a9";
}
.li-plus-regular:before {
    content: "\f0aa";
}
.li-plus-fill:before {
    content: "\f0ab";
}
.li-plus-duotone:before {
    content: "\f0ac";
}
.li-plus-circle-sharp-fill:before {
    content: "\f0ad";
}
.li-plus-circle-sharp:before {
    content: "\f0ae";
}
.li-plus-circle-regular:before {
    content: "\f0af";
}
.li-plus-circle-fill:before {
    content: "\f0b0";
}
.li-plus-circle-duotone:before {
    content: "\f0b1";
}
.li-plus-circle-bold:before {
    content: "\f0b2";
}
.li-plus-bold:before {
    content: "\f0b3";
}
.li-play-sharp-fill:before {
    content: "\f0b4";
}
.li-play-sharp:before {
    content: "\f0b5";
}
.li-play-regular:before {
    content: "\f0b6";
}
.li-play-fill:before {
    content: "\f0b7";
}
.li-play-duotone:before {
    content: "\f0b8";
}
.li-play-bold:before {
    content: "\f0b9";
}
.li-picture-frame-sharp-fill:before {
    content: "\f0ba";
}
.li-picture-frame-sharp:before {
    content: "\f0bb";
}
.li-picture-frame-regular:before {
    content: "\f0bc";
}
.li-picture-frame-fill:before {
    content: "\f0bd";
}
.li-picture-frame-duotone:before {
    content: "\f0be";
}
.li-picture-frame-bold:before {
    content: "\f0bf";
}
.li-phone-sharp-fill:before {
    content: "\f0c0";
}
.li-phone-sharp:before {
    content: "\f0c1";
}
.li-phone-regular:before {
    content: "\f0c2";
}
.li-phone-fill:before {
    content: "\f0c3";
}
.li-phone-duotone:before {
    content: "\f0c4";
}
.li-phone-bold:before {
    content: "\f0c5";
}
.li-person-sharp-fill:before {
    content: "\f0c6";
}
.li-person-sharp:before {
    content: "\f0c7";
}
.li-person-regular:before {
    content: "\f0c8";
}
.li-person-fill:before {
    content: "\f0c9";
}
.li-person-duotone:before {
    content: "\f0ca";
}
.li-person-bold:before {
    content: "\f0cb";
}
.li-people-sharp-fill:before {
    content: "\f0cc";
}
.li-people-sharp:before {
    content: "\f0cd";
}
.li-people-regular:before {
    content: "\f0ce";
}
.li-people-fill:before {
    content: "\f0cf";
}
.li-people-duotone:before {
    content: "\f0d0";
}
.li-people-bold:before {
    content: "\f0d1";
}
.li-pause-sharp-fill:before {
    content: "\f0d2";
}
.li-pause-sharp:before {
    content: "\f0d3";
}
.li-pause-regular:before {
    content: "\f0d4";
}
.li-pause-fill:before {
    content: "\f0d5";
}
.li-pause-duotone:before {
    content: "\f0d6";
}
.li-pause-bold:before {
    content: "\f0d7";
}
.li-paper-lines-sharp-fill:before {
    content: "\f0d8";
}
.li-paper-lines-sharp:before {
    content: "\f0d9";
}
.li-paper-lines-regular:before {
    content: "\f0da";
}
.li-paper-lines-fill:before {
    content: "\f0db";
}
.li-paper-lines-duotone:before {
    content: "\f0dc";
}
.li-paper-lines-bold:before {
    content: "\f0dd";
}
.li-paintbrush-sharp-fill:before {
    content: "\f0de";
}
.li-paintbrush-sharp:before {
    content: "\f0df";
}
.li-paintbrush-regular:before {
    content: "\f0e0";
}
.li-paintbrush-fill:before {
    content: "\f0e1";
}
.li-paintbrush-duotone:before {
    content: "\f0e2";
}
.li-paintbrush-bold:before {
    content: "\f0e3";
}
.li-package-sharp-fill:before {
    content: "\f0e4";
}
.li-package-sharp:before {
    content: "\f0e5";
}
.li-package-regular:before {
    content: "\f0e6";
}
.li-package-fill:before {
    content: "\f0e7";
}
.li-package-duotone:before {
    content: "\f0e8";
}
.li-package-bold:before {
    content: "\f0e9";
}
.li-note-sharp-fill:before {
    content: "\f0ea";
}
.li-note-sharp:before {
    content: "\f0eb";
}
.li-note-regular:before {
    content: "\f0ec";
}
.li-notepad-sharp-fill:before {
    content: "\f0ed";
}
.li-notepad-sharp:before {
    content: "\f0ee";
}
.li-notepad-regular:before {
    content: "\f0ef";
}
.li-notepad-fill:before {
    content: "\f0f0";
}
.li-notepad-duotone:before {
    content: "\f0f1";
}
.li-notepad-bold:before {
    content: "\f0f2";
}
.li-note-fill:before {
    content: "\f0f3";
}
.li-note-duotone:before {
    content: "\f0f4";
}
.li-note-bold:before {
    content: "\f0f5";
}
.li-mountains-sharp-fill:before {
    content: "\f0f6";
}
.li-mountains-sharp:before {
    content: "\f0f7";
}
.li-mountains-regular:before {
    content: "\f0f8";
}
.li-mountains-fill:before {
    content: "\f0f9";
}
.li-mountains-duotone:before {
    content: "\f0fa";
}
.li-mountains-bold:before {
    content: "\f0fb";
}
.li-monitor-sharp-fill:before {
    content: "\f0fc";
}
.li-monitor-sharp:before {
    content: "\f0fd";
}
.li-monitor-regular:before {
    content: "\f0fe";
}
.li-monitor-fill:before {
    content: "\f0ff";
}
.li-monitor-duotone:before {
    content: "\f100";
}
.li-monitor-bold:before {
    content: "\f101";
}
.li-minimize-sharp:before {
    content: "\f102";
}
.li-minimize-regular:before {
    content: "\f103";
}
.li-minimize-duotone:before {
    content: "\f104";
}
.li-minimize-bold:before {
    content: "\f105";
}
.li-microphone-sharp-fill:before {
    content: "\f106";
}
.li-microphone-sharp:before {
    content: "\f107";
}
.li-microphone-regular:before {
    content: "\f108";
}
.li-microphone-fill:before {
    content: "\f109";
}
.li-microphone-duotone:before {
    content: "\f10a";
}
.li-microphone-bold:before {
    content: "\f10b";
}
.li-maximize-sharp:before {
    content: "\f10c";
}
.li-maximize-regular:before {
    content: "\f10d";
}
.li-maximize-duotone:before {
    content: "\f10e";
}
.li-maximize-bold:before {
    content: "\f10f";
}
.li-magnyfing-glass-sharp-fill:before {
    content: "\f110";
}
.li-magnyfing-glass-sharp:before {
    content: "\f111";
}
.li-magnyfing-glass-regular:before {
    content: "\f112";
}
.li-magnyfing-glass-fill:before {
    content: "\f113";
}
.li-magnyfing-glass-duotone:before {
    content: "\f114";
}
.li-magnyfing-glass-bold:before {
    content: "\f115";
}
.li-magic-wand-sharp-fill:before {
    content: "\f116";
}
.li-magic-wand-sharp:before {
    content: "\f117";
}
.li-magic-wand-regular:before {
    content: "\f118";
}
.li-magic-wand-fill:before {
    content: "\f119";
}
.li-magic-wand-duotone:before {
    content: "\f11a";
}
.li-magic-wand-bold:before {
    content: "\f11b";
}
.li-location-dot-sharp-fill:before {
    content: "\f11c";
}
.li-location-dot-sharp:before {
    content: "\f11d";
}
.li-location-dot-regular:before {
    content: "\f11e";
}
.li-location-dot-fill:before {
    content: "\f11f";
}
.li-location-dot-duotone:before {
    content: "\f120";
}
.li-location-dot-bold:before {
    content: "\f121";
}
.li-loading-circle-sharp-fill:before {
    content: "\f122";
}
.li-loading-circle-sharp:before {
    content: "\f123";
}
.li-loading-circle-regular:before {
    content: "\f124";
}
.li-loading-circle-fill:before {
    content: "\f125";
}
.li-loading-circle-duotone:before {
    content: "\f126";
}
.li-loading-circle-bold:before {
    content: "\f127";
}
.li-list-sharp-fill:before {
    content: "\f128";
}
.li-list-sharp:before {
    content: "\f129";
}
.li-list-regular:before {
    content: "\f12a";
}
.li-list-fill:before {
    content: "\f12b";
}
.li-list-duotone:before {
    content: "\f12c";
}
.li-list-bold:before {
    content: "\f12d";
}
.li-link-sharp-fill:before {
    content: "\f12e";
}
.li-link-sharp:before {
    content: "\f12f";
}
.li-link-regular:before {
    content: "\f130";
}
.li-link-fill:before {
    content: "\f131";
}
.li-link-duotone:before {
    content: "\f132";
}
.li-link-break-sharp-fill:before {
    content: "\f133";
}
.li-link-break-sharp:before {
    content: "\f134";
}
.li-link-break-regular:before {
    content: "\f135";
}
.li-link-break-fill:before {
    content: "\f136";
}
.li-link-break-duotone:before {
    content: "\f137";
}
.li-link-break-bold:before {
    content: "\f138";
}
.li-link-bold:before {
    content: "\f139";
}
.li-lightning-sharp-fill:before {
    content: "\f13a";
}
.li-lightning-sharp:before {
    content: "\f13b";
}
.li-lightning-regular:before {
    content: "\f13c";
}
.li-lightning-fill:before {
    content: "\f13d";
}
.li-lightning-duotone:before {
    content: "\f13e";
}
.li-lightning-bold:before {
    content: "\f13f";
}
.li-lifebuoy-sharp-fill:before {
    content: "\f140";
}
.li-lifebuoy-sharp:before {
    content: "\f141";
}
.li-lifebuoy-regular:before {
    content: "\f142";
}
.li-lifebuoy-fill:before {
    content: "\f143";
}
.li-lifebuoy-duotone:before {
    content: "\f144";
}
.li-lifebuoy-bold:before {
    content: "\f145";
}
.li-layers-sharp-fill:before {
    content: "\f146";
}
.li-layers-sharp:before {
    content: "\f147";
}
.li-layers-regular:before {
    content: "\f148";
}
.li-layers-fill:before {
    content: "\f149";
}
.li-layers-duotone:before {
    content: "\f14a";
}
.li-layers-bold:before {
    content: "\f14b";
}
.li-x-small-sharp-fill:before {
    content: "\f14c";
}
.li-info-sharp-fill:before {
    content: "\f14d";
}
.li-x-small-sharp:before {
    content: "\f14e";
}
.li-info-sharp:before {
    content: "\f14f";
}
.li-x-small-regular:before {
    content: "\f150";
}
.li-info-regular:before {
    content: "\f151";
}
.li-x-small-fill:before {
    content: "\f152";
}
.li-info-fill:before {
    content: "\f153";
}
.li-x-small-duotone:before {
    content: "\f154";
}
.li-info-duotone:before {
    content: "\f155";
}
.li-x-small-bold:before {
    content: "\f156";
}
.li-info-circle-sharp-fill:before {
    content: "\f157";
}
.li-x-sharp-fill:before {
    content: "\f158";
}
.li-info-circle-sharp:before {
    content: "\f159";
}
.li-x-sharp:before {
    content: "\f15a";
}
.li-info-circle-regular:before {
    content: "\f15b";
}
.li-x-regular:before {
    content: "\f15c";
}
.li-info-circle-fill:before {
    content: "\f15d";
}
.li-x-fill:before {
    content: "\f15e";
}
.li-info-circle-duotone:before {
    content: "\f15f";
}
.li-x-duotone:before {
    content: "\f160";
}
.li-info-circle-bold:before {
    content: "\f161";
}
.li-x-circle-sharp-fill:before {
    content: "\f162";
}
.li-info-bold:before {
    content: "\f163";
}
.li-x-circle-sharp:before {
    content: "\f164";
}
.li-house-sharp-fill:before {
    content: "\f165";
}
.li-x-circle-regular:before {
    content: "\f166";
}
.li-house-sharp:before {
    content: "\f167";
}
.li-x-circle-fill:before {
    content: "\f168";
}
.li-house-regular:before {
    content: "\f169";
}
.li-x-circle-duotone:before {
    content: "\f16a";
}
.li-house-fill:before {
    content: "\f16b";
}
.li-x-circle-bold:before {
    content: "\f16c";
}
.li-house-duotone:before {
    content: "\f16d";
}
.li-x-bold:before {
    content: "\f16e";
}
.li-house-bold:before {
    content: "\f16f";
}
.li-wine-glass-sharp-fill:before {
    content: "\f170";
}
.li-headphones-sharp-fill:before {
    content: "\f171";
}
.li-wine-glass-sharp:before {
    content: "\f172";
}
.li-headphones-sharp:before {
    content: "\f173";
}
.li-wine-glass-regular:before {
    content: "\f174";
}
.li-headphones-regular:before {
    content: "\f175";
}
.li-wine-glass-fill:before {
    content: "\f176";
}
.li-headphones-fill:before {
    content: "\f177";
}
.li-wine-glass-duotone:before {
    content: "\f178";
}
.li-headphones-duotone:before {
    content: "\f179";
}
.li-wine-glass-bold:before {
    content: "\f17a";
}
.li-headphones-bold:before {
    content: "\f17b";
}
.li-wine-glass-alt-sharp-fill:before {
    content: "\f17c";
}
.li-funnel-sharp-fill:before {
    content: "\f17d";
}
.li-wine-glass-alt-sharp:before {
    content: "\f17e";
}
.li-funnel-sharp:before {
    content: "\f17f";
}
.li-wine-glass-alt-regular:before {
    content: "\f180";
}
.li-funnel-regular:before {
    content: "\f181";
}
.li-wine-glass-alt-fill:before {
    content: "\f182";
}
.li-funnel-fill:before {
    content: "\f183";
}
.li-wine-glass-alt-duotone:before {
    content: "\f184";
}
.li-funnel-duotone:before {
    content: "\f185";
}
.li-wine-glass-alt-bold:before {
    content: "\f186";
}
.li-funnel-bold:before {
    content: "\f187";
}
.li-wifi-sharp-fill:before {
    content: "\f188";
}
.li-eye-sharp-fill:before {
    content: "\f189";
}
.li-wifi-sharp:before {
    content: "\f18a";
}
.li-eye-sharp:before {
    content: "\f18b";
}
.li-wifi-regular:before {
    content: "\f18c";
}
.li-eye-regular:before {
    content: "\f18d";
}
.li-wifi-none-sharp-fill:before {
    content: "\f18e";
}
.li-eye-fill:before {
    content: "\f18f";
}
.li-wifi-none-sharp:before {
    content: "\f190";
}
.li-eye-duotone:before {
    content: "\f191";
}
.li-wifi-none-regular:before {
    content: "\f192";
}
.li-eye-bold:before {
    content: "\f193";
}
.li-wifi-none-fill:before {
    content: "\f194";
}
.li-exclamation-triangle-sharp-fill:before {
    content: "\f195";
}
.li-wifi-none-duotone:before {
    content: "\f196";
}
.li-exclamation-triangle-sharp:before {
    content: "\f197";
}
.li-wifi-none-bold:before {
    content: "\f198";
}
.li-exclamation-triangle-regular:before {
    content: "\f199";
}
.li-wifi-medium-sharp-fill:before {
    content: "\f19a";
}
.li-exclamation-triangle-fill:before {
    content: "\f19b";
}
.li-wifi-medium-sharp:before {
    content: "\f19c";
}
.li-exclamation-triangle-duotone:before {
    content: "\f19d";
}
.li-wifi-medium-regular:before {
    content: "\f19e";
}
.li-exclamation-triangle-bold:before {
    content: "\f19f";
}
.li-wifi-medium-fill:before {
    content: "\f1a0";
}
.li-exclamation-sharp-fill:before {
    content: "\f1a1";
}
.li-wifi-medium-duotone:before {
    content: "\f1a2";
}
.li-exclamation-sharp:before {
    content: "\f1a3";
}
.li-wifi-medium-bold:before {
    content: "\f1a4";
}
.li-exclamation-regular:before {
    content: "\f1a5";
}
.li-wifi-low-sharp-fill:before {
    content: "\f1a6";
}
.li-exclamation-fill:before {
    content: "\f1a7";
}
.li-wifi-low-sharp:before {
    content: "\f1a8";
}
.li-exclamation-duotone:before {
    content: "\f1a9";
}
.li-wifi-low-regular:before {
    content: "\f1aa";
}
.li-exclamation-diamond-sharp-fill:before {
    content: "\f1ab";
}
.li-wifi-low-fill:before {
    content: "\f1ac";
}
.li-exclamation-diamond-sharp:before {
    content: "\f1ad";
}
.li-wifi-low-duotone:before {
    content: "\f1ae";
}
.li-exclamation-diamond-regular:before {
    content: "\f1af";
}
.li-wifi-low-bold:before {
    content: "\f1b0";
}
.li-exclamation-diamond-fill:before {
    content: "\f1b1";
}
.li-wifi-fill:before {
    content: "\f1b2";
}
.li-exclamation-diamond-duotone:before {
    content: "\f1b3";
}
.li-wifi-duotone:before {
    content: "\f1b4";
}
.li-exclamation-diamond-bold:before {
    content: "\f1b5";
}
.li-wifi-bold:before {
    content: "\f1b6";
}
.li-exclamation-circle-sharp-fill:before {
    content: "\f1b7";
}
.li-waves-sharp:before {
    content: "\f1b8";
}
.li-exclamation-circle-sharp:before {
    content: "\f1b9";
}
.li-waves-regular:before {
    content: "\f1ba";
}
.li-exclamation-circle-regular:before {
    content: "\f1bb";
}
.li-waves-duotone:before {
    content: "\f1bc";
}
.li-exclamation-circle-fill:before {
    content: "\f1bd";
}
.li-waves-bold:before {
    content: "\f1be";
}
.li-exclamation-circle-duotone:before {
    content: "\f1bf";
}
.li-vr-headset-sharp-fill:before {
    content: "\f1c0";
}
.li-exclamation-circle-bold:before {
    content: "\f1c1";
}
.li-vr-headset-sharp:before {
    content: "\f1c2";
}
.li-exclamation-bold:before {
    content: "\f1c3";
}
.li-vr-headset-regular:before {
    content: "\f1c4";
}
.li-envelope-sharp-fill:before {
    content: "\f1c5";
}
.li-vr-headset-fill:before {
    content: "\f1c6";
}
.li-envelope-sharp:before {
    content: "\f1c7";
}
.li-vr-headset-duotone:before {
    content: "\f1c8";
}
.li-envelope-regular:before {
    content: "\f1c9";
}
.li-vr-headset-bold:before {
    content: "\f1ca";
}
.li-envelope-fill:before {
    content: "\f1cb";
}
.li-volume-x-sharp-fill:before {
    content: "\f1cc";
}
.li-envelope-duotone:before {
    content: "\f1cd";
}
.li-volume-x-sharp:before {
    content: "\f1ce";
}
.li-envelope-bold:before {
    content: "\f1cf";
}
.li-volume-x-regular:before {
    content: "\f1d0";
}
.li-egg-sharp-fill:before {
    content: "\f1d1";
}
.li-volume-x-fill:before {
    content: "\f1d2";
}
.li-egg-sharp:before {
    content: "\f1d3";
}
.li-volume-x-duotone:before {
    content: "\f1d4";
}
.li-egg-regular:before {
    content: "\f1d5";
}
.li-volume-x-bold:before {
    content: "\f1d6";
}
.li-egg-fill:before {
    content: "\f1d7";
}
.li-volume-sharp-fill:before {
    content: "\f1d8";
}
.li-egg-duotone:before {
    content: "\f1d9";
}
.li-volume-sharp:before {
    content: "\f1da";
}
.li-egg-bold:before {
    content: "\f1db";
}
.li-volume-regular:before {
    content: "\f1dc";
}
.li-dash-sharp-fill:before {
    content: "\f1dd";
}
.li-volume-low-sharp-fill:before {
    content: "\f1de";
}
.li-dash-sharp:before {
    content: "\f1df";
}
.li-volume-low-sharp:before {
    content: "\f1e0";
}
.li-dash-regular:before {
    content: "\f1e1";
}
.li-volume-low-regular:before {
    content: "\f1e2";
}
.li-dash-fill:before {
    content: "\f1e3";
}
.li-volume-low-fill:before {
    content: "\f1e4";
}
.li-dash-duotone:before {
    content: "\f1e5";
}
.li-volume-low-duotone:before {
    content: "\f1e6";
}
.li-dash-circle-sharp-fill:before {
    content: "\f1e7";
}
.li-volume-low-bold:before {
    content: "\f1e8";
}
.li-dash-circle-sharp:before {
    content: "\f1e9";
}
.li-volume-high-sharp-fill:before {
    content: "\f1ea";
}
.li-dash-circle-regular:before {
    content: "\f1eb";
}
.li-volume-high-sharp:before {
    content: "\f1ec";
}
.li-dash-circle-fill:before {
    content: "\f1ed";
}
.li-volume-high-regular:before {
    content: "\f1ee";
}
.li-dash-circle-duotone:before {
    content: "\f1ef";
}
.li-volume-high-fill:before {
    content: "\f1f0";
}
.li-dash-circle-bold:before {
    content: "\f1f1";
}
.li-volume-high-duotone:before {
    content: "\f1f2";
}
.li-dash-bold:before {
    content: "\f1f3";
}
.li-volume-high-bold:before {
    content: "\f1f4";
}
.li-cursor-sharp-fill:before {
    content: "\f1f5";
}
.li-volume-fill:before {
    content: "\f1f6";
}
.li-cursor-sharp:before {
    content: "\f1f7";
}
.li-volume-duotone:before {
    content: "\f1f8";
}
.li-cursor-regular:before {
    content: "\f1f9";
}
.li-volume-bold:before {
    content: "\f1fa";
}
.li-cursor-fill:before {
    content: "\f1fb";
}
.li-triangle-wave-sharp-fill:before {
    content: "\f1fc";
}
.li-cursor-duotone:before {
    content: "\f1fd";
}
.li-triangle-wave-sharp:before {
    content: "\f1fe";
}
.li-cursor-bold:before {
    content: "\f1ff";
}
.li-triangle-wave-regular:before {
    content: "\f200";
}
.li-cup-sharp-fill:before {
    content: "\f201";
}
.li-triangle-wave-fill:before {
    content: "\f202";
}
.li-cup-sharp:before {
    content: "\f203";
}
.li-triangle-wave-duotone:before {
    content: "\f204";
}
.li-cup-regular:before {
    content: "\f205";
}
.li-triangle-wave-bold:before {
    content: "\f206";
}
.li-cup-fill:before {
    content: "\f207";
}
.li-tree-sharp-fill:before {
    content: "\f208";
}
.li-cup-duotone:before {
    content: "\f209";
}
.li-tree-sharp:before {
    content: "\f20a";
}
.li-cup-bold:before {
    content: "\f20b";
}
.li-tree-regular:before {
    content: "\f20c";
}
.li-complex-wave-sharp-fill:before {
    content: "\f20d";
}
.li-tree-fill:before {
    content: "\f20e";
}
.li-complex-wave-sharp:before {
    content: "\f20f";
}
.li-tree-duotone:before {
    content: "\f210";
}
.li-complex-wave-regular:before {
    content: "\f211";
}
.li-tree-bold:before {
    content: "\f212";
}
.li-complex-wave-fill:before {
    content: "\f213";
}
.li-trash-sharp-fill:before {
    content: "\f214";
}
.li-complex-wave-duotone:before {
    content: "\f215";
}
.li-trash-sharp-2:before {
    content: "\f216";
}
.li-complex-wave-bold:before {
    content: "\f217";
}
.li-trash-sharp:before {
    content: "\f218";
}
.li-check-small-sharp-fill:before {
    content: "\f219";
}
.li-trash-regular:before {
    content: "\f21a";
}
.li-check-small-sharp:before {
    content: "\f21b";
}
.li-trash-fill-sharp:before {
    content: "\f21c";
}
.li-check-small-regular:before {
    content: "\f21d";
}
.li-trash-fill:before {
    content: "\f21e";
}
.li-check-small-fill:before {
    content: "\f21f";
}
.li-trash-duotone:before {
    content: "\f220";
}
.li-check-small-duotone:before {
    content: "\f221";
}
.li-trash-bold-2:before {
    content: "\f222";
}
.li-check-small-bold:before {
    content: "\f223";
}
.li-trash-bold:before {
    content: "\f224";
}
.li-check-sharp-fill:before {
    content: "\f225";
}
.li-ticket-sharp-fill:before {
    content: "\f226";
}
.li-check-sharp:before {
    content: "\f227";
}
.li-ticket-sharp:before {
    content: "\f228";
}
.li-check-regular:before {
    content: "\f229";
}
.li-ticket-regular:before {
    content: "\f22a";
}
.li-check-fill:before {
    content: "\f22b";
}
.li-ticket-fill:before {
    content: "\f22c";
}
.li-check-duotone:before {
    content: "\f22d";
}
.li-ticket-duotone:before {
    content: "\f22e";
}
.li-check-circle-sharp-fill:before {
    content: "\f22f";
}
.li-ticket-bold:before {
    content: "\f230";
}
.li-check-circle-sharp:before {
    content: "\f231";
}
.li-thumbs-up-sharp-fill:before {
    content: "\f232";
}
.li-check-circle-regular:before {
    content: "\f233";
}
.li-thumbs-up-sharp:before {
    content: "\f234";
}
.li-check-circle-fill:before {
    content: "\f235";
}
.li-thumbs-up-regular:before {
    content: "\f236";
}
.li-check-circle-duotone:before {
    content: "\f237";
}
.li-thumbs-up-fill:before {
    content: "\f238";
}
.li-check-circle-bold:before {
    content: "\f239";
}
.li-thumbs-up-duotone:before {
    content: "\f23a";
}
.li-check-bold:before {
    content: "\f23b";
}
.li-thumbs-up-bold:before {
    content: "\f23c";
}
.li-chat-teardrop-sharp-fill:before {
    content: "\f23d";
}
.li-thumbs-down-sharp-fill:before {
    content: "\f23e";
}
.li-chat-teardrop-sharp:before {
    content: "\f23f";
}
.li-thumbs-down-sharp:before {
    content: "\f240";
}
.li-chat-teardrop-regular:before {
    content: "\f241";
}
.li-thumbs-down-regular:before {
    content: "\f242";
}
.li-chat-teardrop-fill:before {
    content: "\f243";
}
.li-thumbs-down-fill:before {
    content: "\f244";
}
.li-chat-teardrop-duotone:before {
    content: "\f245";
}
.li-thumbs-down-duotone:before {
    content: "\f246";
}
.li-chat-teardrop-bold:before {
    content: "\f247";
}
.li-thumbs-down-bold:before {
    content: "\f248";
}
.li-camera-video-sharp-fill:before {
    content: "\f249";
}
.li-three-dots-sharp-fill:before {
    content: "\f24a";
}
.li-camera-video-sharp:before {
    content: "\f24b";
}
.li-three-dots-sharp:before {
    content: "\f24c";
}
.li-camera-video-regular:before {
    content: "\f24d";
}
.li-three-dots-regular:before {
    content: "\f24e";
}
.li-camera-video-fill:before {
    content: "\f24f";
}
.li-three-dots-horizontal-sharp-fill:before {
    content: "\f250";
}
.li-camera-video-duotone:before {
    content: "\f251";
}
.li-three-dots-horizontal-sharp:before {
    content: "\f252";
}
.li-camera-video-bold:before {
    content: "\f253";
}
.li-three-dots-horizontal-regular:before {
    content: "\f254";
}
.li-camera-sharp-fill:before {
    content: "\f255";
}
.li-three-dots-horizontal-fill:before {
    content: "\f256";
}
.li-camera-sharp:before {
    content: "\f257";
}
.li-three-dots-horizontal-duotone:before {
    content: "\f258";
}
.li-camera-regular:before {
    content: "\f259";
}
.li-three-dots-horizontal-bold:before {
    content: "\f25a";
}
.li-camera-fill:before {
    content: "\f25b";
}
.li-three-dots-fill:before {
    content: "\f25c";
}
.li-camera-duotone:before {
    content: "\f25d";
}
.li-three-dots-duotone:before {
    content: "\f25e";
}
.li-camera-bold:before {
    content: "\f25f";
}
.li-three-dots-bold:before {
    content: "\f260";
}
.li-calculator-sharp-fill:before {
    content: "\f261";
}
.li-text-sharp-fill:before {
    content: "\f262";
}
.li-calculator-sharp:before {
    content: "\f263";
}
.li-text-sharp:before {
    content: "\f264";
}
.li-calculator-regular:before {
    content: "\f265";
}
.li-text-regular:before {
    content: "\f266";
}
.li-calculator-fill:before {
    content: "\f267";
}
.li-text-fill:before {
    content: "\f268";
}
.li-calculator-duotone:before {
    content: "\f269";
}
.li-text-bold:before {
    content: "\f26a";
}
.li-calculator-bold:before {
    content: "\f26b";
}
.li-terminal-sharp-fill:before {
    content: "\f26c";
}
.li-briefcase-sharp-fill:before {
    content: "\f26d";
}
.li-terminal-sharp:before {
    content: "\f26e";
}
.li-briefcase-sharp:before {
    content: "\f26f";
}
.li-terminal-regular:before {
    content: "\f270";
}
.li-briefcase-regular:before {
    content: "\f271";
}
.li-terminal-fill:before {
    content: "\f272";
}
.li-briefcase-fill:before {
    content: "\f273";
}
.li-terminal-duotone:before {
    content: "\f274";
}
.li-briefcase-duotone:before {
    content: "\f275";
}
.li-terminal-bold:before {
    content: "\f276";
}
.li-briefcase-bold:before {
    content: "\f277";
}
.li-tag-vr-sharp-fill:before {
    content: "\f278";
}
.li-brand-lstv-fill:before {
    content: "\f279";
}
.li-tag-vr-sharp:before {
    content: "\f27a";
}
.li-brand-lstv-duotone:before {
    content: "\f27b";
}
.li-tag-vr-regular:before {
    content: "\f27c";
}
.li-brand-discord-regular:before {
    content: "\f27d";
}
.li-tag-vr-fill:before {
    content: "\f27e";
}
.li-brand-discord-fill:before {
    content: "\f27f";
}
.li-tag-vr-duotone:before {
    content: "\f280";
}
.li-brand-discord-duotone:before {
    content: "\f281";
}
.li-tag-vr-bold:before {
    content: "\f282";
}
.li-brand-discord-bold:before {
    content: "\f283";
}
.li-tag-sd-sharp-fill:before {
    content: "\f284";
}
.li-box-sharp-fill:before {
    content: "\f285";
}
.li-tag-sd-sharp:before {
    content: "\f286";
}
.li-box-sharp:before {
    content: "\f287";
}
.li-tag-sd-regular:before {
    content: "\f288";
}
.li-box-regular:before {
    content: "\f289";
}
.li-tag-sd-fill:before {
    content: "\f28a";
}
.li-box-fill:before {
    content: "\f28b";
}
.li-tag-sd-duotone:before {
    content: "\f28c";
}
.li-box-duotone:before {
    content: "\f28d";
}
.li-tag-sd-bold:before {
    content: "\f28e";
}
.li-box-bold:before {
    content: "\f28f";
}
.li-tag-hd-sharp-fill:before {
    content: "\f290";
}
.li-box-alt-sharp-fill:before {
    content: "\f291";
}
.li-tag-hd-sharp:before {
    content: "\f292";
}
.li-box-alt-sharp:before {
    content: "\f293";
}
.li-tag-hd-regular:before {
    content: "\f294";
}
.li-box-alt-regular:before {
    content: "\f295";
}
.li-tag-hd-fill:before {
    content: "\f296";
}
.li-box-alt-fill:before {
    content: "\f297";
}
.li-tag-hd-duotone:before {
    content: "\f298";
}
.li-box-alt-duotone:before {
    content: "\f299";
}
.li-tag-hd-bold:before {
    content: "\f29a";
}
.li-box-alt-bold:before {
    content: "\f29b";
}
.li-tag-e-sharp-fill:before {
    content: "\f29c";
}
.li-axis-sharp-fill:before {
    content: "\f29d";
}
.li-tag-e-sharp:before {
    content: "\f29e";
}
.li-axis-sharp:before {
    content: "\f29f";
}
.li-tag-e-regular:before {
    content: "\f2a0";
}
.li-axis-regular:before {
    content: "\f2a1";
}
.li-tag-e-fill:before {
    content: "\f2a2";
}
.li-axis-fill:before {
    content: "\f2a3";
}
.li-tag-e-duotone:before {
    content: "\f2a4";
}
.li-axis-duotone:before {
    content: "\f2a5";
}
.li-tag-e-bold:before {
    content: "\f2a6";
}
.li-axis-bold:before {
    content: "\f2a7";
}
.li-tag-ar-sharp-fill:before {
    content: "\f2a8";
}
.li-axis-arrows-sharp-fill:before {
    content: "\f2a9";
}
.li-tag-ar-sharp:before {
    content: "\f2aa";
}
.li-axis-arrows-sharp:before {
    content: "\f2ab";
}
.li-tag-ar-regular:before {
    content: "\f2ac";
}
.li-axis-arrows-regular:before {
    content: "\f2ad";
}
.li-tag-ar-fill:before {
    content: "\f2ae";
}
.li-axis-arrows-fill:before {
    content: "\f2af";
}
.li-tag-ar-duotone:before {
    content: "\f2b0";
}
.li-axis-arrows-duotone:before {
    content: "\f2b1";
}
.li-tag-ar-bold:before {
    content: "\f2b2";
}
.li-axis-arrows-bold:before {
    content: "\f2b3";
}